<?xml version="1.0" encoding="utf-8" ?>
<!--
    SStatesMan - a savestate managing tool for PCSX2
    Copyright (C) 2011-2012 - Leucos

    SStatesMan is free software: you can redistribute it and/or modify it under
    the terms of the GNU Lesser General Public License as published by the Free
    Software Foundation, either version 3 of the License, or (at your option) any
    later version.
 
    SStatesMan is distributed in the hope that it will be useful, but WITHOUT ANY
    WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
    PARTICULAR PURPOSE. See the GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License along with 
    SStatesMan. If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sstatesman.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sstatesman.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <sstatesman.My.MySettings>
            <setting name="SStatesMan_FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SStatesMan_SStateTrash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SStatesMan_PathPics" serializeAs="String">
                <value />
            </setting>
            <setting name="SStatesMan_ThemeGradientEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SStatesMan_SStatesListAutoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SStatesMan_SStatesListShowOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SStatesMan_Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SStatesMan_SStatesVersionExtract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SStatesMan_ThemeImageEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmMain_WindowSize" serializeAs="String">
                <value>624, 442</value>
            </setting>
            <setting name="frmMain_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmMain_WindowPosition" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="frmMain_SplitterDistance" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="frmMain_glvw_cGameTitle" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="frmMain_glvw_cSerial" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="frmMain_glvw_cRegion" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="frmMain_glvw_cStInfo" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="frmMain_glvw_cSbInfo" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="frmMain_slvw_cFileName" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="frmMain_slvw_cSlot" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="frmMain_slvw_cBackup" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="frmMain_slvw_cVersion" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="frmMain_slvw_cDateLW" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="frmMain_slvw_cSize" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="frmDel_slvw_cFileName" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="frmDel_slvw_cSlot" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="frmDel_slvw_cVersion" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="frmDel_slvw_cSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="frmDel_slvw_cStatus" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="frmDel_WindowSize" serializeAs="String">
                <value>640, 360</value>
            </setting>
            <setting name="frmDel_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmMain_CoverExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmDel_WindowLocation" serializeAs="String">
                <value>20, 40</value>
            </setting>
            <setting name="frmDel_slvw_cBackup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmDel_slvw_cLastWT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SStatesMan_SettingFail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PCSX2_PathInis" serializeAs="String">
                <value />
            </setting>
            <setting name="PCSX2_PathSState" serializeAs="String">
                <value />
            </setting>
            <setting name="PCSX2_PathBin" serializeAs="String">
                <value />
            </setting>
            <setting name="PCSX2_PathSnaps" serializeAs="String">
                <value />
            </setting>
        </sstatesman.My.MySettings>
    </userSettings>
    <applicationSettings>
        <sstatesman.My.MySettings>
            <setting name="PCSX2_SStateExt" serializeAs="String">
                <value>.p2s</value>
            </setting>
            <setting name="PCSX2_SStateExtBackup" serializeAs="String">
                <value>.backup</value>
            </setting>
            <setting name="PCSX2_GameDbFilename" serializeAs="String">
                <value>GameIndex.dbf</value>
            </setting>
            <setting name="SStatesMan_Channel" serializeAs="String">
                <value>alpha</value>
            </setting>
            <setting name="PCSX2_PathRegKey" serializeAs="String">
                <value>Software\PCSX2</value>
            </setting>
            <setting name="PCSX2_PathBinReg" serializeAs="String">
                <value>Install_Dir</value>
            </setting>
            <setting name="PCSX2_PathInisReg" serializeAs="String">
                <value>SettingsFolder</value>
            </setting>
            <setting name="PCSX2_SStateFolder" serializeAs="String">
                <value>sstates</value>
            </setting>
            <setting name="SStatesMan_PicsFolder" serializeAs="String">
                <value>coverpics</value>
            </setting>
            <setting name="PCSX2_PCSX2_uiFilename" serializeAs="String">
                <value>PCSX2_ui.ini</value>
            </setting>
            <setting name="PCSX2_SnapsFolder" serializeAs="String">
                <value>snaps</value>
            </setting>
        </sstatesman.My.MySettings>
    </applicationSettings>
</configuration>
